* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  color: #333;
  --type-first: Halvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  font-family: --var(--type-first);
  padding-top: 4rem;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: --var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}
